# Ignore everything
*
!.gitignore

# Except legal documents
!privacy-policy-user.html
!privacy-policy-admin.html
!terms-conditions-user.html
!terms-conditions-admin.html
!privacy.html
!terms.html
!privacy-admin.html
!terms-admin.html
!README.md
